{% extends 'base.html.twig' %}

{% block title %}
	Home
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/home.css') }}"/>

{% endblock %}

{% block body %}

	<section>

		<div id="default-carousel" class="relative w-full" data-carousel="slide">
			<div class="relative h-56 overflow-hidden rounded-lg md:h-96">

				{% for car in cars %}
					{% for picture in pictures %}


						<a href="{{ path('app_cars_show', {'id': car.id}) }}">
							<div class="hidden duration-700 ease-in-out bg-cover" data-carousel-item>


								<img src="{{ asset('assets/img/cars-users/' ~ picture.name) }}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="{{picture.name}}">
							</div>
						</a>
					{% endfor %}
				{% endfor %}
				<!-- Item 2 -->

				<!-- Slider controls -->
				<button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
					<span class="inline-flex items-center justify-center w-10 h-10 rounded-full" style="background-color: #0060A7;">
						<svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 6 10">
							<path stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
						</svg>
						<span class="sr-only">Previous</span>
					</span>
				</button>
				<button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
					<span class="inline-flex items-center justify-center w-10 h-10 rounded-full" style="background-color: #0060A7;">
						<svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 6 10">
							<path stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
						</svg>
						<span class="sr-only">Next</span>
					</span>
				</button>
			</div>

		</section>

		<section class="bg-white dark:bg-gray-900" style="background-color: #0060A7;">
			<div class="py-8 px-4 mx-auto max-w-2xl lg:py-16 flex justify-center items-center">


				<form action="{{ path('app_cars_achat') }}" class="" method="post">
					<div class="grid gap-4 sm:grid-cols-2 sm:gap-6  mb-4 flex justify-center items-center">
						<div class="sm:col-span-2">
							<label for="type" class="text-white">Type</label>
							<input type="text" name="typen" id="type" class="text-sm rounded-lg  w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white " placeholder="Sport">
						</div>
						<div class="w-full">
							<label for="brand" class="text-white">Marque</label>
							<input type="text" name="brand" id="brand" class="text-sm rounded-lg  w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white " placeholder="Jaguar">
						</div>
						<div class="w-full">
							<label for="model" class="text-white">Model</label>
							<input type="text" name="model" id="model" class="text-sm rounded-lg  w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white " placeholder="XJ14">
						</div>
						<div>
							<label for="mileage" class="text-white">Kilométrages</label>
							<input type="text" name="mileage" id="mileage" class="text-sm rounded-lg  w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white " placeholder="150 000 kms">
						</div>
						<div>
							<label for="price" class="text-white">Price</label>
							<input type="text" name="price" id="price" class="text-sm rounded-lg  w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white " placeholder="50 000€">
						</div>
					</div>
					<button type="submit" class=" w-full py-4 sm:mt-6 text-2xl text-white">
						Recherchez
					</button>
				</form>
			</div>
		</section>

		<section id="typeCars" class="text-center">

			<div class="text-center my-8">
				<h2 class="text-4xl font-bold">Type de véhicules</h2>
			</div>
			<div class="grid gap-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-4 p-4 items-center justify-center">
				<div class="flex flex-col items-center">
					<a href="{{ path('app_cars_achat')}}" class="flex flex-col items-center w-full h-auto">
						<img src="{{ asset('assets/img/cars/toutes.png') }}" alt="Toutes" class="w-full h-auto max-w-xs">
						<span class="mt-2 font-medium">Toutes</span>
					</a>
				</div>
				<div class="flex flex-col items-center">
					<a href="{{ path('app_cars_achat')}}" class="flex flex-col items-center w-full h-auto">
						<img src="{{ asset('assets/img/cars/4x4-removebg-preview.png') }}" alt="4x4 & SUV" class="w-full h-auto max-w-xs">
						<span class="mt-2 font-medium">4x4 & SUV</span>
					</a>
				</div>
				<div class="flex flex-col items-center">
					<a href="{{ path('app_cars_achat')}}" class="flex flex-col items-center w-full h-auto">
						<img src="{{ asset('assets/img/cars/citadine-removebg-preview.png')}}" alt="Citadine" class="w-full h-auto max-w-xs">
						<span class="mt-2 font-medium">Citadine</span>
					</a>
				</div>
				<div class="flex flex-col items-center">
					<a href="{{ path('app_cars_achat')}}" class="flex flex-col items-center w-full h-auto">
						<img src="{{ asset('assets/img/cars/berline-removebg-preview.png') }}" alt="Berline" class="w-full h-auto max-w-xs">
						<span class="mt-2 font-medium">Berline</span>
					</a>
				</div>
				<div class="flex flex-col items-center">
					<a href="{{ path('app_cars_achat')}}" class="flex flex-col items-center w-full h-auto">
						<img src="{{ asset('assets/img/cars/monospace-removebg-preview.png') }}" alt="Monospace" class="w-full h-auto max-w-xs">
						<span class="mt-2 font-medium">Monospace</span>
					</a>
				</div>
				<div class="flex flex-col items-center">
					<a href="{{ path('app_cars_achat')}}" class="flex flex-col items-center w-full h-auto">
						<img src="{{ asset('assets/img/cars/break-removebg-preview.png') }}" alt="Break" class="w-full h-auto max-w-xs">
						<span class="mt-2 font-medium">Break</span>
					</a>
				</div>
				<div class="flex flex-col items-center">
					<a href="{{ path('app_cars_achat')}}" class="flex flex-col items-center w-full h-auto">
						<img src="{{ asset('assets/img/cars/Toyota-Yaris-Hybrid-2016-removebg-preview.png')}}" alt="Hybride" class="w-full h-auto max-w-xs">
						<span class="mt-2 font-medium">Hybride</span>
					</a>
				</div>
				<div class="flex flex-col items-center">
					<a href="{{ path('app_cars_achat')}}" class="flex flex-col items-center w-full h-auto">
						<img src="{{ asset('assets/img/cars/electrique-removebg-preview.png') }}" alt="Electrique" class="w-full h-auto max-w-xs">
						<span class="mt-2 font-medium">Electrique</span>
					</a>
				</div>
			</div>


		</section>

		<section id="searchCarsLink" class="py-5">
			<div class="container mx-auto">
				<div class="lg:flex lg:justify-between items-center text-center">
					<div class="lg:w-1/2 lg:pr-8 mx-auto">
						<h2 class="text-2xl lg:text-3xl font-bold mb-4">Vous recherchez la voiture parfaite ? Nous l'avons pour vous !</h2>
					</div>
				</div>
				<div class="flex justify-center mt-4">
					<a href="{{ path('app_cars_achat')}}" class="btn btn-primary bg-blue-500 text-white py-2 px-4 rounded">Cliquez ici !</a>
				</div>
			</div>
		</section>


	{% endblock %}

	{% block javascripts %}{% endblock %}
