{% extends 'base.html.twig' %}

{% block title %}Cars index
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/achat.css') }}">
{% endblock %}
{% block body %}

	<div class="d-flex">
		<section id="containerSearchOption">
		<form action="{{ path('app_cars_achat') }}" class="form" method="POST">

			
				<div class="option">
					<div class="lateral">
						<input type="text" id="type" name="type" placeholder="Type"/>
						<input type="text" id="brand" name="brand" placeholder="Marque"/>
						<input type="text" id="model" name="model" placeholder="Modèle"/>
						<input type="number" id="year" placeholder="Année"/>
						<input type="number" id="mileage" placeholder="Km"/>
						<input type="number" id="price" name="price" placeholder="Prix"/>
					</div>
					<h4 class="text-center py-3">Carburant</h4>
					<div class="d-flex">
						<input type="checkbox" id="fuelDiesel" name="fuelDiesel"/>
						<label class="ps-3">Diesel</label>
					</div>
					<div class="d-flex">
						<input type="checkbox" id="fuelEssence" name="fuelEssence"/>
						<label class="ps-3">Essence</label>
					</div>
					<div class="d-flex">
						<input type="checkbox" id="fuelGPL" name="fuelGPL"/>
						<label class="ps-3">GPL</label>
					</div>
					<h4 class="text-center py-3">Boite à vitesse</h4>
					<div class="d-flex">
						<input type="checkbox" id="manualGearBox" name="manualGearBox"/>
						<label class="ps-3">Manuelle</label>
					</div>
					<div class="d-flex">
						<input type="checkbox" id="gearBoxAutomatique" name="automaticGearBox"/>
						<label class="ps-3">Automatique</label>
					</div>
					<button onclick="filterCars()" id="searchButtonCar" type="submit">
						Recherche
					</button>
				</div>
			</form>
		</section>


		<section id="cardsCars">

			<p class="p-3 fs-3">{{ cars|length }}
				annonces</p>

			<div class="container-card">

				{% for car in cars %}
					<div class="card">

					<img src={{asset('assets/img/cars-users/' ~ car.pictures[0].name)}} class="card-img-top" alt="Picture for {{ car.model }}"/>
					
						<div class="card-body">


							<div class="characteristic">
								<div class="d-flex flex-column">
									<p class="card-type">{{ car.type }}</p>
									<p class="card-brand">{{ car.brand }}</p>
									<p class="card-model">{{ car.model }}</p>
								</div>

								<div class="d-flex flex-column">
									<p class="card-year">{{ car.year }} ans</p>
									<p class="card-mileage">{{ car.mileage }} km</p>
									<p class="card-fuel">{{ car.fuel }}</p>
								</div>
							</div>


							<p class="card-price text-center">{{ car.price }}€</p>


				
						<a href="{{ path('app_cars_show', {'id': car.id}) }}" class="btn btn-primary">Voir</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</section>
	</div>

	{% block javascripts %}


<script>


  const searchInput = document.getElementById('searchInput');
  const cards = document.getElementsByClassName('card');

  searchInput.addEventListener('input', function() {
    const searchValue = this.value.toLowerCase();

    for (let card of cards) {
      const cardType = card.querySelector('.card-type').textContent.toLowerCase();
      const cardBrand = card.querySelector('.card-brand').textContent.toLowerCase();
      const cardModel = card.querySelector('.card-model').textContent.toLowerCase();
      const cardYear = card.querySelector('.card-year').textContent.toLowerCase();
      const cardMileage = card.querySelector('.card-mileage').textContent.toLowerCase();
      const cardFuel = card.querySelector('.card-fuel').textContent.toLowerCase();
      const cardPrice = card.querySelector('.card-price').textContent.toLowerCase();

      if (cardType.includes(searchValue) || cardBrand.includes(searchValue) || cardModel.includes(searchValue) || cardYear.includes(searchValue) || cardMileage.includes(searchValue) || cardFuel.includes(searchValue) || cardPrice.includes(searchValue)) {
        card.style.display = 'block';
      } else {
        card.style.display = 'none';
      }
    }
  });
</script>



	{% endblock %}
{% endblock %}
