{% extends 'base.html.twig' %}

{% block title %}Cars index
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/show.css') }}" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>


{% endblock %}
{% block body %}

<div class="flex flex-col md:flex-row my-5">

    <section class="flex flex-col md:flex-row md:space-x-4">

        <div class="md:w-1/2 mb-4">

            <!-- Car title -->

            {% for car in cars %}
              
           
            <h1 class="text-center text-2xl md:text-4xl font-bold mb-4">{{ car.brand }} {{ car.model }}</h1>

        </div>

        <div class="md:w-1/2 mb-4">
            <!-- Car details -->
            <div class="details-container">
                <div class="flex flex-col items-center text-center space-y-2">
                    <p><span class="font-bold">Type:</span> {{ car.type }}</p>
                    <p><span class="font-bold">Carburant:</span> {{ car.fuel }}</p>
                    <p><span class="font-bold">Kilomètrage:</span> {{ car.mileage }}</p>
                    <p><span class="font-bold">Marque:</span> {{ car.brand }}</p>
                    <p><span class="font-bold">Modèle:</span> {{ car.model }}</p>
                    <p><span class="font-bold">Année:</span> {{ car.year }}</p>
                    <p><span class="font-bold">Prix:</span> {{ car.price }} €</p>
                </div>
            </div>
        </div>

    </section>

    <div class="text-center mt-4 md:mt-0">
        <!-- Contact link -->
        <i class="fa-regular fa-comments">CONTACTEZ-MOI</i>
        <a href="{{ path('app_chat', {'id': car.id}) }}"
           class="btn btn-danger bg-secondary inline-block mt-2 md:mt-0 md:ml-4">
            Contacter
        </a>
    </div>
 {% endfor %}
</div>
  </section>
  
</div>


</div>{% endblock %}{% block javascripts %} <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


 <script>
  const swiper = new Swiper(".mySwiper", {
    spaceBetween:1 ,
    slidesPerView: 3,
    freeMode: true,
    watchSlidesProgress: true,
    loop: true,
  });
  const swiper2 = new Swiper(".mySwiper2", {
    spaceBetween: 10,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    thumbs: {
      swiper: swiper,
    },
  });
</script>{% endblock %}
