{% extends 'base.html.twig' %}

{% block title %}New Cars
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/vente.css') }}">
{% endblock %}
{% block body %}

	<h1 class="text-center mt-3">À VOTRE VENTE</h1>

	<div class="container mt-5">
		{{ form_start(form) }}
		<div class="form-group">
			{{ form_label(form.year, 'Année', {'label_attr': {'class': 'control-label'}}) }}
			{{ form_widget(form.year, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.year) }}
		</div>
		<div class="form-group">
			{{ form_label(form.mileage, 'Kilomètrage', {'label_attr': {'class': 'control-label'}}) }}
			{{ form_widget(form.mileage, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.mileage) }}
		</div>
		<div class="form-group">
			{{ form_label(form.fuel, 'Carburant', {'label_attr': {'class': 'control-label'}}) }}
			{{ form_widget(form.fuel, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.fuel) }}
		</div>
		<div class="form-group">
			{{ form_label(form.gearBox, 'Boite de vitesse', {'label_attr': {'class': 'control-label'}}) }}
			{{ form_widget(form.gearBox, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.gearBox) }}
		</div>
		<div class="form-group">
			{{ form_label(form.price, 'Prix', {'label_attr': {'class': 'control-label'}}) }}
			{{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.price) }}
		</div>
		<div class="form-group">
			{{ form_label(form.description, 'Description', {'label_attr': {'class': 'control-label'}}) }}
			{{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.description) }}
		</div>
	<div class="form-group">
    {{ form_label(form.picture, 'Picture', {'label_attr': {'class': 'control-label'}}) }}
    {{ form_widget(form.picture, {'attr': {'class': 'form-control-file img-responsive'}}) }}
    {{ form_errors(form.picture) }}
</div>
		<button type="submit" class="btn btn-primary">Submit</button>
		{{ form_end(form) }}
	</div>


        </section>
    </div>

	
{% endblock %}
